{% if show_edit_toggle %}
    <label class="edit-mode" for="edit-mode" title="{{ 'Toggle administrative actions on the UI.'|t }}"
           data-label="{{ 'Edit this page'|t }}">
        <input id="edit-mode" type="checkbox">
        <i class="icon icon-edit"></i>
    </label>
{% endif %}
